<div class="container" [style.backgroundColor]="color">
  <h1>{{ title }}</h1>

  <h1>{{ count }}</h1>
  <button type="button" class="btn btn-primary" (click)="increament()">
    increament
  </button>

  <button type="button" class="btn btn-primary" (click)="decreament()">
    Decriment
  </button>
  <button type="button" class="btn btn-primary" (click)="auto()">jump</button>

  <button type="button" class="btn btn-success" (click)="stop()">
    stop this BRUH
  </button>

  <div>
    <h1>{{ this.name }}</h1>
    <input #namein [value]="" />
    <button (click)="changecolor()">change</button>
  </div>
</div>
